body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(221, 253, 221);
}

.header {
    display: flex;

}

#logo {
    background-color: #dc143c;
    width: 2.5em;
    height: 2em;
    color: #fff;
    text-align: center;
    font-size:3em;
    padding-top: 0.6em;
    margin-left: 0.5em;
    box-shadow: 1px 4px 1px brown;
    border-radius: 0.1em;
}

.text {
    margin-left: 2em;
    font-size: 22px;
    font-weight: 700;
    color: #dc143c;
    padding-top: 3.5em;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
}

.cases {
    width: 14em;

    box-shadow: 1px 2px #f19090;
    border: 0.1px solid #f5bbbb;
    padding-bottom: 2em;
    padding-left: 0.5em;
    background-color:  #d88093;

}

.cases span {
    font-weight: 700;
}

.cases .fa-caret-up {
    color: red;
}

.cases .fa-caret-down {
    color: green;
}

.data {
    display: flex;
    justify-content: space-between;
}


.data table {
    width: 65em;
    margin-left: 9em;
    background-color: #d88093;
}

.tips {
    width: 15em;
    border: 1px solid #f3d5d5;
    margin-right: 3.8em;
    margin-bottom: 2em;
    height: 11em;
}

.tips p {
    text-align: center;
    color: #dc143c;
    border: .1px solid #3fd884;
    background-color: #ee43d7;
    font-weight: 800;
    width: 12em;
    margin-left: 1em;
    border-radius: 5px;
}

#sticky {
    text-align: center;
    color: crimson;
    border: .2px solid gray;
    background-color: #ee43d7;
    font-weight: bold;
    border-radius: 1em;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 15em;
    padding-top: 8em;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
    margin-left: 1em;
}

#loading {
    border: 5px dotted rgb(65, 225, 190);
    width: 60px;
    height: 60px;
    animation: circular .50s linear infinite;
    border-top-color: #4ebb33;
    border-radius: 50%;
    position: absolute;
    top: 35em;
    left: 35em

}

@keyframes circular{
   from {
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {
    .dashboard {
        flex-direction: column;
    }

    .cases {
        margin-bottom: 1em;
        width: 50%;
        margin-left: 2em;
}


    .data table{
        width: 31.5em;
        margin-left: 2em;
        margin-right: 1em;
    
    }
    .tips{
        margin-top: 2em;
        margin-left: 9em;

    }

    #loading{
        top: 53em;
        left: 15em;
    }

    .data{
        flex-direction: column;
    }

}
    




